<footer id="page-footer">
  <p>
    Copyright &copy; 2016
    <%= link_to 'Prime Time Production', 'http://primetimetran.github.io/port/' %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>
